Flask
SQLAlchemy
gunicorn
click
PyMySQL
coloredlogs
python-dotenv
itsdangerous
Jinja2
joblib
kaleido
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
retrying
scikit-learn
scipy
six
threadpoolctl
Werkzeug
